<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

	<variable name="appName" value="AdventureWorks.Console" />
	<variable name="basicTextLayout" value="${longdate}  ${level:upperCase=true}  ${logger}  ${message}" />
	<variable name="entityFrameworkLogTextLayout" value="${longdate}  ${level:upperCase=true}  ${logger}${newline}${message}${newline}" />
	<variable name="detailedTextLayout" value ="${longdate} ${level:upperCase=true}  ${logger}  ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Additional Info: ${message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}"/>

	<targets>
		<target xsi:type="File"
				name="DefaultLogFile"
				layout="${detailedTextLayout}"
				fileName="${specialfolder:folder=LocalApplicationData}\${appName}\AdventureWorks_logfile_${date:format=yyyyMMdd}.txt"
				keepFileOpen="false"
				maxArchiveFiles="30"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				archiveFileName="${specialfolder:LocalApplicationData}\${appName}\AdventureWorks_logfile_${date:format=yyyyMMdd}.{##}.txt"/>

		<target xsi:type="File"
				name="EntityFrameworkLogFile"
				layout="${entityFrameworkLogTextLayout}"
				fileName="${specialfolder:folder=LocalApplicationData}\${appName}\AdventureWorks_ef_logfile_${date:format=yyyyMMdd}.txt"
				keepFileOpen="false"
				maxArchiveFiles="15"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				archiveFileName="${specialfolder:LocalApplicationData}\${appName}\AdventureWorks_ef_logfile_${date:format=yyyyMMdd}.{##}.txt"/>

		<target name='JSONFileLogger'
				type='File'
				fileName="${specialfolder:folder=LocalApplicationData}\${appName}\AdventureWorks_logfile_${date:format=yyyyMMdd}.json"
				keepFileOpen="false"
				maxArchiveFiles="30"
				archiveNumbering="Sequence"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				archiveFileName="${specialfolder:LocalApplicationData}\${appName}\AdventureWorks_logfile_${date:format=yyyyMMdd}.{##}.json">

			<layout type='JsonLayout'>
				<attribute name='time' layout='${longdate}' />
				<attribute name='level' layout='${level:upperCase=true}'/>
				<attribute name='nested' encode='false'  >
					<layout type='JsonLayout'>
						<attribute name='message' layout='${message}' />
						<attribute name='exception' layout='${exception}' />
					</layout>
				</attribute>
			</layout>
		</target>

	</targets>

	<rules>
		<!--NLog Log Levels from highest to lowest: Fatal -> Error -> Warn -> Info -> Debug -> Trace-->
		<logger name ="Microsoft.EntityFrameworkCore.*" minlevel="Trace" writeTo="EntityFrameworkLogFile" final="true" />

		<logger name ="Microsoft.EntityFramework.*" minlevel="Trace" writeTo="EntityFrameworkLogFile" final="true" />

		<logger name="*" minlevel="Debug" writeTo="DefaultLogFile" />

		<logger name="*" minlevel="Debug" writeTo="JSONFileLogger" />

	</rules>
</nlog>